.DS_Store
.vscode
.env
.venv
.swp
dist
build
.cache
.gocache
*.exe
.idea
test_data
*.crt
__debug_bin*
llama/build
llama/vendor
/ollama
Z_Iosu/release/installer/Ollama-portable-0.11.103/LICENSE
Z_Iosu/release/installer/Ollama-portable-0.11.103/ollama_welcome.ps1
Z_Iosu/release/installer/Ollama-portable-0.11.103/README.md
Z_Iosu/release/installer/Ollama-portable-0.11.103/lib/ollama/ggml-base.dll
Z_Iosu/release/installer/Ollama-portable-0.11.103/lib/ollama/ggml-cpu-alderlake.dll
Z_Iosu/release/installer/Ollama-portable-0.11.103/lib/ollama/ggml-cpu-haswell.dll
Z_Iosu/release/installer/Ollama-portable-0.11.103/lib/ollama/ggml-cpu-icelake.dll
Z_Iosu/release/installer/Ollama-portable-0.11.103/lib/ollama/ggml-cpu-sandybridge.dll
Z_Iosu/release/installer/Ollama-portable-0.11.103/lib/ollama/ggml-cpu-skylakex.dll
Z_Iosu/release/installer/Ollama-portable-0.11.103/lib/ollama/ggml-cpu-sse42.dll
Z_Iosu/release/installer/Ollama-portable-0.11.103/lib/ollama/ggml-cpu-x64.dll
Z_Iosu/release/installer/Ollama-portable-0.11.104/LICENSE
Z_Iosu/release/installer/Ollama-portable-0.11.104/ollama_welcome.ps1
Z_Iosu/release/installer/Ollama-portable-0.11.104/README.md
Z_Iosu/release/installer/Ollama-portable-0.11.104/lib/ollama/ggml-base.dll
Z_Iosu/release/installer/Ollama-portable-0.11.104/lib/ollama/ggml-cpu-alderlake.dll
Z_Iosu/release/installer/Ollama-portable-0.11.104/lib/ollama/ggml-cpu-haswell.dll
Z_Iosu/release/installer/Ollama-portable-0.11.104/lib/ollama/ggml-cpu-icelake.dll
Z_Iosu/release/installer/Ollama-portable-0.11.104/lib/ollama/ggml-cpu-sandybridge.dll
Z_Iosu/release/installer/Ollama-portable-0.11.104/lib/ollama/ggml-cpu-skylakex.dll
Z_Iosu/release/installer/Ollama-portable-0.11.104/lib/ollama/ggml-cpu-sse42.dll
Z_Iosu/release/installer/Ollama-portable-0.11.104/lib/ollama/ggml-cpu-x64.dll
Z_Iosu/release/installer/Ollama-portable-0.11.103.zip
Z_Iosu/release/installer/Ollama-portable-0.11.104.zip
Z_Iosu/release/installer/Ollama-portable-0.12.21.zip
Z_Iosu/release/installer/Ollama-portable-0.12.31.zip
Z_Iosu/release/installer/Ollama-portable-0.12.102.zip
Z_Iosu/release/installer/Ollama-portable-0.12.122.zip
Z_Iosu/release/installer/
